<main>
  <header>
    <div class="header-image">
      <img style="max-width: 100%;" src="assets/images/gung-white.png" alt="logo" />
    </div>
    <h2 class="header-text">Product Display</h2>
  </header>
  <div class="search-wrapper">
    <search />
    <sort />
  </div>
  <ul class="categories">
    <li *ngFor="let maincategory of productPage.children">
      <h3>{{maincategory.name}}</h3>
      <ul>
        <li *ngFor="let subcategory of maincategory.children">
          <h4>{{subcategory.name}}</h4>
          <ul>
            <li *ngFor="let item of subcategory.children">
              <h5>{{item.name}}</h5><h6>({{item.id}})</h6>
              <p class="extras">{{getExtras(item.id)}}</p>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</main>